<section class="container text-center">
    <h1>Sobre mim</h1>
    <div class="container mt-5">
        <div class="row text-center d-flex justify-content-around mx-5">
            
            <div class="col-md-4">
                    <div class="text-center">
                        <!-- <img src="../../assets/imgs/experience.png" width="32px">
                        <h5 class="mb-0">Experiência</h5>
                        <p class="mb-0">2 anos</p>
                        <p>Desenvolvedor Front-end</p> -->

                        <h4>Um desenvolvedor dedicado buscando sua primeira oportunidade!</h4>

                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio hic facilis illo. Est totam eos nostrum facilis quo quisquam. Magni delectus voluptatum at? Incidunt iusto, exercitationem laboriosam tempore sapiente animi!</p>
                    </div>

            </div>
            <div class="col-md-2 border border-2 border-dark w-25 rounded pt-4">
                <img src="../../assets/imgs/experience.png"class="img-fluid rounded" width="32px">
                <h4>Experiência</h4>
                <p class="fs-5 mb-0">2+ anos</p>
                <p class="fs-5">Programador Front-end</p>
            </div>
            <div class="col-md-2 border border-2 border-dark w-25 rounded pt-4">
                <img src="../../assets/imgs/education.png"class="img-fluid rounded" width="32px">
                <h4>Educação</h4>
                <p class="fs-5 mb-0">Técnico em Desenvolvimento de Sistemas</p>
                <p class="fs-5 mb-0">Cursando Superior em ADS (2022 - 2024)</p>
            </div>
        </div>
    </div>
</section>